# Python cache
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo (Virtual environments)
.env
venv/
env/

# IDE và tệp cấu hình hệ điều hành
.idea/
.vscode/
.DS_Store
*.swp

# Bỏ qua Jupyter Notebooks và checkpoints
*.ipynb
.ipynb_checkpoints

# Bỏ qua tất cả dữ liệu (thô và đã xử lý)\
data/crawler/
data/split/
data/raw_pgn/*
data/processed/*
!data/processed/.gitkeep
!data/raw_pgn/.gitkeep

# Bỏ qua tất cả các mô hình đã huấn luyện (checkpoints)
models/sl_base_model/*
models/rl_best_model/*
models/rl_candidate_model/*
*.h5
*.hdf5
*.pb
*.pt
*.pth
*.onnx
!models/sl_base_model/.gitkeep
!models/rl_best_model/.gitkeep
!models/rl_candidate_model/.gitkeep

# Tệp log và kết quả
*.log
results/

# Bỏ qua các engine ngoài
other/
working_process/
pgn/
web_1/
lichessbot/